{%extends 'all-projects/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}
<div class="container"
  style="background-image:url('https://www.morecharter.com/images/brodovi/2/k.jpg'); background-repeat: no-repeat; background-size: cover;width: 1500px;">
  <div class="row">
    <!-- displaying Photos image -->
    {%for image in projects%}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px;">
      <p><strong style="color:wheat; font-size: 20px; font-style: italic;text-align: center;">{{image.title|safe}}</strong></p>
       
      <img style=" margin-top: 20px; margin-bottom: 20px; width:380px; height:200px; border-radius: 30px;"
        src="{{image.image.url}}" class="img-responsive" alt="Image"> 
        <div style="color:wheat; font-size: 20px; font-style: italic;">       
          {% autoescape on %}
         
          <strong >Description: </strong>{{image.description|safe}}<br>
          <strong >Link:</strong><a href="{{ image.link|safe }}">{{image.link|safe}}</a>
          <!-- <button class="btn btn-danger" onclick="copyUrl('{{image.id}}-url')">Copy Image Url</button> -->
         
         {% endautoescape %}
       </div> 
      <!-- <button class="btn btn-danger"  >Comment</button> -->
      <!-- <input  id="{{images.id}}-url" > -->
      
    </div>
    {%endfor%}
  </div>


</div>

{% endblock %}